__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
app/.env
app/graph_database/
app/graph_database/data/
app/graph_database/plugins/
app/graph_database/import/
app/graph_database/logs/
app/graph_database/data/transactions/neo4j/*.db.0
app/graph_database/data/transactions/system/*.db.0
.ipynb_checkpoints/
*.log
.DS_Store
Thumbs.db
test.py
test2.py
test4.py
